#todoTitle {
    color: #c1c1c1;
    letter-spacing: 3px;
    font-size: xx-large;
    text-shadow: 0 0 .5px black;
}

#todo {
    width: 80%;
    margin: auto;
    margin-top: auto;
    margin-top: 50px;
    background-color: white;
}

#todoInputContainer {  
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    box-shadow: 0 1px 3px gainsboro;
}

#exraInfoContainer {
    display: flex;
    color: #c1c1c1;
    padding: 5px 10px;
    border-top: 0.5px solid #f3f3f3;
}

#exraInfoContainer span:first-child {
    margin-right: auto;
}

#exraInfoContainer span:last-child {
    margin-left: 20px;
}

.extra-info-span-btn:hover {
    cursor: pointer;
    color: grey;
    transition: color .5s;
}

.extra-info-span-btn:active {
    color: dodgerblue;
}

input[type="text"] {
    height: 30px;
    padding: 5px;
    border: none;
    width: 70%;
    border: 1px solid gainsboro;
    border-radius: 2px;
    transition: .3s;
    outline: none;
}

input[type="text"]:focus {
    border: 1px solid black;
}

input[type="button"] {
    border: none;
    color: white;
    background: dodgerblue;
    border-radius: 3px;
    width: 20%;
    outline: none;
    transition: .3s;
} 

input[type="button"]:hover {
   background-color: rgb(22, 128, 235);
}

input[type="button"]:active {
    background-color: gold;
    color: black;
 }

#todoViewContainer {
    padding: 0 1.3rem;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    padding-bottom: 10px;
}

li:last-child {
    padding-bottom: 0;
}

label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 0.5px solid gainsboro;
    vertical-align: middle;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none;
}

label input[type="checkbox"]:checked {
    background-color: dodgerblue;
}

label input[type="checkbox"]:checked::after {
    content: "\2713";
    font-size: 2rem;
    position: relative;
    top: -10px;
    color: white;
}

label input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: rgb(185, 185, 185);
}

label span {
    margin-left: 8px;
}


@media screen and (min-width: 600px) {
    #todo {
        width: 50%;
    }
}